@import 'react-international-phone/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
   
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  
}

@layer base {
  * {
    @apply border-border;

    
  }
  body {
    
background:  "#212121";
    @apply font-sans antialiased bg-background text-foreground;
    
  }
}

@layer utilities {
  /* Horizontal Stack (HStack) */

}

html {
background:  "#212121";
  scroll-behavior: smooth;
}


/* Styles for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Dark gray color, adjust as needed */
  border-radius: 4px; /* Rounded corners, adjust as needed */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

/* Optional: Add hover effect to the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Styles for Firefox */
/* You might need to enable this in Firefox settings:
   about:config -> widget.non-native-theme.enabled -> true */
/* Or use the newer scrollbar-width and scrollbar-color properties */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent; /* thumb track */
}